@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Apply a universal box-sizing rule */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20;
    line-height: 1.6;
    color: #333;
    background-color: #f3f3f3;
}

section {
    padding: 0;
    margin: 0;
}

/* Style of the main header */

.main-header {
    padding: 20;
    margin: 0;
    text-align: center;
    color:#555;
}

.main-header h1 {
    color:#555;
}

/* Style the profile section */

#profile-section {
    padding: 20px;
    text-align: center;
}

#profile-section h1 {
    margin: 0;
    color: #555;
}

/* Style the visulization section */

#visualization-section {
    padding: 20px;
    text-align: center;
}

#visualization-section h1 {
    margin: 0;
    color: #555;
}

/* Style the project section */

#project-section {
    text-align: center;
    padding: 20px;
}

#project-section h1 {
    margin: 0;
    color: #555;
}

.project-info-box {
    background-color: #e0e0e0;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
}


/* Style for navigation buttons */

#navigation-container {
    display: flex;
    justify-content: center;
    /* Center the navigation div */
    max-width: 960px;
    /* Max width same as the main content */
    margin: 0 auto;
    /* Center the container */
}

#navigation {
    display: flex;
    /* Use flexbox layout */
    justify-content: center;
    /* Center the buttons horizontally */
    flex-wrap: nowrap;
    /* Prevent the buttons from wrapping */
    width: 100%;
    padding: 20px;
    text-align: center;
}

#navigation button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    /* Reduce the space between buttons if necessary */
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    /* Allow the buttons to grow and fill the available space */
    min-width: 0;
    /* Override the default minimum width */
}

#navigation button:hover {
    background-color: #606060;
}

/* Style for infobox and profile */

.profile-info-box {
    background-color: #e0e0e0;
    /* Light grey background */
    width: 960px;
    margin: 0 auto;
    /* Center the box */
    padding: 15px;
    /* Add some padding inside the box */
    box-sizing: border-box;
    /* Include padding in the width */
    word-wrap: break-word;
    /* Ensure long words do not overflow */
}

.profile-container {
    display: flex;
    align-items: flex-start;
    background-color: #e0e0e0;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    max-width: 960px;
    /* Keep the max-width to constrain the container */
}

.profile-picture {
    flex-shrink: 0;
    /* Prevent the image from shrinking */
    height: auto;
    /* Height is auto to maintain aspect ratio */
    width: 180px;
    /* Set the fixed width for the image */
    margin-right: 15px;
    /* Space between image and text */
}

.profile-text {
    flex-grow: 1;
    max-width: 780px;
    text-align: left;
    word-wrap: break-word;
}

/* Style for webgl container and placeholders */

/* Common styles for desktop-placeholder and unity-canvas */
#desktop-placeholder,
#mobile-placeholder,
#unity-canvas {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-canvas,
#mobile-placeholder {
    display: none;
} 

.placeholder-text {
    text-align: center;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .profile-container,
    .project-info-box,
    .profile-info-box,
    #mobile-placeholder {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .profile-picture {
        width: 100%;
        margin: 0 auto 10px;
        padding: 15;
    }

    .profile-text {
        width: 100%;
    }

    #navigation button {
        padding: 10px 10px;
        font-size: 14px;
    }

    #desktop-placeholder {
        max-height: 300px;
    }
}