@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Apply a universal box-sizing rule */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

#welcome {
    padding: 20px;
    text-align: center;
}

#welcome h1 {
    margin: 0;
    color: #555;
}

#welcome img {
    max-width: 100%;
    height: auto;
}

/* Style the project section */
#project {
    text-align: center;
    padding: 20px;
}

#project h1 {
    margin: 0;
    color: #555;
}

#project img {
    max-width: 100%;
    height: auto;
}

/* Style for navigation buttons */
#navigation {
    text-align: center;
    padding: 20px;
}

#navigation button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#navigation button:hover {
    background-color: #005f73;
}

#webgl-placeholder,
#unity-canvas {
  width: 960px; 
  height: 600px;
  display: block; /* Use block to make them stack as you would expect */
  margin: 0 auto; /* This centers the block elements if the parent has a defined width */
  background: #231F20;
}

/* This ensures that the section container does not apply any unexpected padding or margin */
section {
  padding: 0;
  margin: 0;
}

.infobox {
    background-color: #f0f0f0; /* Light grey background */
    width: 960px;
    margin: 0 auto; /* Center the box */
    padding: 15px; /* Add some padding inside the box */
    box-sizing: border-box; /* Include padding in the width */
    word-wrap: break-word; /* Ensure long words do not overflow */
}

.profile-container {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    max-width: 960px; /* Keep the max-width to constrain the container */
}

.profile-picture {
    flex-shrink: 0; /* Prevent the image from shrinking */
    height: auto; /* Height is auto to maintain aspect ratio */
    width: 210px; /* Set the fixed width for the image */
    margin-right: 15px; /* Space between image and text */
}

.profile-text {
    flex-grow: 1;
    max-width: 750px; /* Set the fixed width for the text */
    text-align: left; /* Align text to the left */
    word-wrap: break-word;
}


